NODE_ENV=development

DB_HOST=localhost
DB_PORT=3360
DB_NAME=maybank-dev
DB_USER=root
DB_PASS=1234
DB_TYPE=mysql

PORT=5000

API_VERSION=v1
JWT_SECRET=BbLt5jpXhvXFVZ4pwW+UP8wAoKf1MtqmWsdJx3tGJk91zDi/S8U9BB6E9NfTFUSdqfSID9vncjNlswnLNMOnUrIyI/HM3igAdd8PemhwynrDH5VfcII7sPmEYlV3QnbowebUbo2v+LgJw4/3UpSw/3g9zPAlvsvF9ktwKzrBfGA=